body, html {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 60px;
  margin-right: 60px;
}

header #logo {
  width: 300px;
}

header #search_container {
  width: 100%;
  position: relative;
}

header #search_container #search {
  background-color: #E7E7E7;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
  padding-left: 10px;
}

header #search_container .fa-search {
  color: black;
  position: absolute;
  top: 25px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

nav {
  margin-left: 60px;
  margin-right: 60px;
}

nav .tags_container {
  display: none;
}

nav .tags_container .tag {
  margin-top: 20px;
  padding: 10px;
  font-size: 0.9em;
  color: white;
  border-radius: 5px;
  margin-right: 15px;
  text-align: center;
}

nav .tags_container .fa-times-circle {
  font-size: 1.2em;
  margin-left: 10px;
  cursor: pointer;
}

nav #select_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav #select_container #select_ingredients {
  background: #3282F7;
}

nav #select_container #select_ingredients .select_search {
  background-color: #3282F7;
}

nav #select_container #select_appareil {
  background: #68D9A4;
}

nav #select_container #select_appareil .select_search {
  background-color: #68D9A4;
}

nav #select_container #select_ustensiles {
  background: #ED6454;
}

nav #select_container #select_ustensiles .select_search {
  background-color: #ED6454;
}

nav #select_container .select {
  height: 50px;
  width: 150px;
  color: white;
  margin-top: 20px;
  padding: 0px;
  padding-right: 7px;
  padding-left: 7px;
  border-radius: 5px;
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
}

nav #select_container .fa-chevron-down {
  position: absolute;
  right: 18px;
  top: 18px;
}

nav #sub-1 {
  display: none;
  background-color: #3282F7;
}

nav #sub-2 {
  display: none;
  background-color: #68D9A4;
}

nav #sub-3 {
  display: none;
  background-color: #ED6454;
}

nav .select_search {
  position: absolute;
  width: 90%;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
  color: white;
  font-size: 1.1em;
  border-radius: 5px;
  padding-left: 5px;
}

nav .select_search::-webkit-input-placeholder {
  color: white;
}

nav .select_search:-ms-input-placeholder {
  color: white;
}

nav .select_search::-ms-input-placeholder {
  color: white;
}

nav .select_search::placeholder {
  color: white;
}

nav .select_search:focus-visible {
  outline: none;
}

nav .submenu {
  display: none;
  max-height: 500px;
  width: 550px;
  position: absolute;
  left: 0;
  top: 90%;
  z-index: 1000;
  border-radius: 0px 0px 5px 5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  overflow-x: scroll;
}

nav .submenu .list_element {
  width: 150px;
  margin-right: 30px;
  margin-bottom: 7px;
  text-decoration: none;
  color: white;
}

nav .submenu::-webkit-scrollbar {
  height: 10px;
}

nav .submenu::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.623);
}

main {
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .recipe_card {
  width: 380px;
  height: 380px;
  background-color: #E7E7E7;
  border-radius: 5px;
  margin-bottom: 60px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.19);
          box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.19);
}

main .recipe_card .recipe_img {
  width: 100%;
  background-color: grey;
  height: 178px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px 5px 0px 0px;
}

main .recipe_card .infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

main .recipe_card .infos .title {
  font-size: 1em;
}

main .recipe_card .infos .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .recipe_card .infos .time p {
  margin-left: 5px;
  font-size: 0.9em;
  font-weight: bold;
}

main .recipe_card .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

main .recipe_card .description ul {
  padding: 0;
  margin: 0;
  width: 171px;
  list-style-type: none;
  font-size: 0.8em;
}

main .recipe_card .description .instructions {
  font-size: 0.8em;
  margin: 0;
  max-height: 135px;
  text-overflow: ellipsis;
  white-space: normal;
  overflow: scroll;
  overflow-x: hidden;
}

main .recipe_card .instructions::-webkit-scrollbar {
  width: 5px;
}

main .recipe_card .instructions::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(61, 61, 61, 0.121);
}

@media screen and (max-width: 900px) {
  header {
    margin-left: 20px;
    margin-right: 20px;
  }
  main {
    margin-left: 20px;
    margin-right: 20px;
  }
  main .recipe_card {
    width: auto;
  }
  nav {
    margin-left: 20px;
    margin-right: 20px;
  }
  #sub-1 {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #sub-2 {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #sub-3 {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .tags_container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
/*# sourceMappingURL=style.css.map */